.app-header {
    
    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #eee;
        background: #f3f3f3;
        padding: 20px;
    }

    img {
        display: block;
        max-width: 100px;
        height: auto;
    }

    nav ul {
        list-style-type: none;
        display: flex;

        li {
            padding: 10px;
        }
    }
}